body {
	background-color: #fff;
	color: #222;

	font-family: 'Merriweather', serif;

	word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6, .symbol, footer,
article.post figure figcaption {
	font-family: 'Raleway', sans-serif;
}

pre, code {
	font-family: 'Inconsolata', monospace;
}
pre {
	line-height: 1em;
}

h1 {
	margin-top: 1em;
}

blockquote {
	font-size: .9em;
	margin: 0 2em;
}

cite {
	margin: 0 2em;
	padding: 0;
	margin-top: -.5em;
	text-align: right;
	display: block;
}

i, em {
	font-style: italic;
}

b, strong {
	font-weight: 600;
}

a {
	color: #045FB4;
	text-decoration: none;
	border-bottom: 1px dotted #045FB4;
}

a:hover {
	background-color: #FFFF99;
}

.subtle {
	color: #888;
}

.permalink {
	text-decoration: none;
	border-bottom: none;
}

.footnotes {
	font-size: .8em;
	border-top: 1px dotted #888;
	margin-top: 1em;
}

.footnotes hr {
	display: none;
}

.footnote-return {
	border-bottom: none;
}

nav.pagination {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 2em;
}

footer {
	margin: 0 auto;
	font-size: .9em;
	color: #888;
	font-weight: 300;
	text-align: center;
}

/* Site header
************************************************** */
#masthead {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	background-color: #efefef;
	border-top: 5px solid #333;
}

#masthead h1 {
	padding: .5em 0;
	font-size: 1.2em;
	font-weight: 300;
	color: #888;
	margin: 0 auto;
}

#masthead h1 a {
	text-decoration: none;
	border-bottom: none;
	color: #888;
}

#masthead h1 .aka {
	font-size: .8em;
	letter-spacing: .08em;
	float: right;
}

/* Posts
************************************************** */
#posts {
	position: relative;
	display: block;
	margin: 0 auto;
}

#posts p {
	margin-top: 1.3em;
	margin-bottom: 1.3em;
	font-size: .9em;
}

#posts h1 {
	margin-bottom: 0;
	font-size: 1.8em;
}

#posts h2 {
	font-size: 1.5em;
	margin-top: 1em;
	margin-bottom: .5em;
}

#posts h3 { font-size: 1.4em; }
#posts h4 { font-size: 1.3em; }
#posts h5 { font-size: 1.2em; }
#posts h6 { font-size: 1.1em; }

#posts article.post header p {
	margin-top: 0;
	padding: 0;
	font-size: 1em;
}

article.post figure {
	text-align: center;
	margin-left: 0;
	margin-right: 0;
}

article.post figure img {
	max-width: 100%;
}

article.post figure figcaption {
	font-size: .7em;
	font-weight: 300;
	color: #888;
}

article.post figure figcaption p {
	margin-top: 0;
}

article.post figure a {
	text-decoration: none;
	border: 0;
}

.fin {
	/* post separator */

	text-align: center;
	font-size: 2em;
	color: #888;
	margin-top: 1em;
}

/* Social media share buttons
************************************************** */
.share {
	overflow: hidden;
	opacity: 0.70;
	margin-top: 1.3em;
}

.share a {
	border: 0;
}

.share:hover {
	opacity: 1;
}

.share-btn {
	display: inline-block;
	float: left;
	margin: 0;
	width: 100px;
}

.share-btn .fb-like>span {
	vertical-align: top !important;
}

/* Print friendliness
************************************************** */
.printonly { display: none; }

@media print {
	.noprint { display: none; }
	.printonly { display: inline; }

	a, a:active, a:visited { color: #888; }
}