{{partial "header.html" .}}

<div class="container">

	<h1 class="taxonomy-title">
		{{if eq .Data.Plural "tags"}}
			Posts tagged <span class="term">#{{ .Title | lower }}</span>
		{{else}}
			Posts in series <span class="term">{{ .Title | lower }}</span>
		{{end}}
		<span class="desc"><a href="{{ .Data.baseurl }}/archives">other {{ .Data.Plural }}</a></span>
	</h1>

	<ul class="taxonomy-content">
		{{ range .Data.Pages }}
		<li>
			{{.Date.Format "Jan 02, 2006"}} -
            {{if .Params.linkurl}}
            <a href="{{.Params.linkurl}}">{{.Title}}</a> <span class="subtle symbol">&#10230;</span>
            {{else}}
            <a href="{{.RelPermalink}}">{{.Title}}</a>
            {{end}}
		</li>
		{{ end }}
	</ul>

</div>

{{partial "footer.html" .}}