{{ define "main" }}
<div class="site-wrap">
	<header class="taxonomy-list-header">
		<h1 class="taxonomy-title taxonomy-title--list">{{ .Title }}</h1>
		<p class="taxonomy-list-nav"><a href="{{ "archives" | relURL }}">Archives</a></p>
	</header>

	<nav class="taxonomy-term-cloud-nav" aria-label="All tags">
		<p class="archive-tag-list taxonomy-term-cloud">
			{{ range .Data.Terms.ByCount }}
			<span>
				<a href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }}</a>
				<small>({{ .Count }})</small>
			</span>
			{{ end }}
		</p>
	</nav>
	<div class="fin-symbol" aria-hidden="true"></div>
</div>
{{ end }}
