<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<title>{{.Site.Title}}</title>
<base href="{{.Site.BaseUrl}}">
<link rel="canonical" href="{{.Permalink}}">
<link href="/feed.xml" rel="alternate" type="application/atom+xml" title="{{.Site.Title}}" />
<link rel="stylesheet" href="/styles.css">
<meta name="viewport" content="width=device-width" />
</head>
<body lang="en-US">
<header id="masthead">
	<h1>
		<a href="/">Joshua Poehls</a>
		<span class="aka">silent thought</span>
	</h1>
</header>