<article class="post post--card">
	<header>
		<h1>
			<a href="{{ .RelPermalink }}" class="post-title-link">{{ .Title }}</a>{{ if .Params.linkurl }} <span class="subtle symbol">&#10230;</span>{{ end }}
		</h1>
		<p>
			<time datetime="{{ .Date }}" pubdate="pubdate">{{ .Date.Format "Monday, 2 January 2006" }}</time>
		</p>
	</header>
	<div class="post-summary">
		{{ .Summary }}
	</div>
	<p class="post-read-more">
		{{ if .Truncated }}<span class="excerpt-ellipsis" aria-hidden="true">&nbsp;&hellip;</span>{{ end }}
		<a href="{{ .RelPermalink }}">Continue reading <span class="symbol" aria-hidden="true">→</span></a>
	</p>
</article>
